<form action="{{ path('guess') }}">
    <label>
		Enter number:
		<input type="number" name="input_number">
	</label>
	<input type="submit" value="Guess">
</form>

<h1 id="message">{{ message }}</h1>

<small id="number">Număr generat: {{ number }}</small>
